.admin-content {
    padding: 20px;
    padding-bottom: 0;
    div.widget-wrapper {
        min-height: 17%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}